# Quadlet network file for Opsechat containers
# Place in ~/.config/containers/systemd/ or /etc/containers/systemd/

[Unit]
Description=Opsechat Container Network
Documentation=https://github.com/HyperionGray/opsechat

[Network]
NetworkName=opsechat-network
Driver=bridge
Internal=false

[Install]
WantedBy=multi-user.target