<html>
  <head>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <meta http-equiv="refresh" content="1" >

  <div id="peopleinchat">People in chat: {{ num_people }}</div>
  <table>
    {% for message_dic in chatlines %}
    <tr>
      <th scope="row" name="msg" class="msg name" style='color: rgb({{ message_dic["color"] }});'><b>{{ message_dic["username"]  }}:</b></th>
      <td name="msg" class="msg text" style='color: rgb({{ message_dic["color"] }});'><b>{{ message_dic["msg"] }}</b></td>
    </tr>
  {% endfor %}
  </table>

</html>
