<html>
  <!--<meta http-equiv="refresh" content="1" >-->
  <style>
    *{
      padding-top:3px;
      font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
      font-size:22px;
    }
  </style>

  <div style="float:right; font-size:10px;">People in chat: {{ num_people }}</div>
  <table>
    {% for message_dic in chatlines %}
    <tr>
      <td name="msg" class="msg" style="color:rgb{{ message_dic["color"] }};"><b>{{ message_dic["username"]  }}</b>: {{ message_dic["msg"] }}</td>
    </tr>
  {% endfor %}
  </table>

</html>
